<h1>Dashboard</h1>
<div>
  <ul class="list-group">
    <li class="list-group-item">Current Categories: <%= @categories %></li>
    <li class="list-group-item">Current Products: <%= @products %></li>
  </ul>
</div>
